.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border: 0;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row input {
    flex: 1;
}

.form-row > label {
    padding: .5em;
}
