* {
    box-sizing: border-box;
}
.myForm {
    background-color: wheat;
    border-radius: 3px;
    display: flex;
    padding: 1.8em;  
}

.message {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.message > textarea {
    flex: 1;
    min-width: 18em;
}

.contact {
    flex: 1;
}

.contact input {
    width: 100%;
}

.contact input,
.contact button {
    padding: 1em;
    margin-bottom: 1em;
}

.contact button {
    border: 0;
    background-color: grey;
    color: white;
}